# Copier ce fichier en .env et adapter à ton instance SQL Server locale
# (SELECT @@SERVERNAME; dans SSMS donne la bonne valeur)
SQL_SERVER=localhost\SQLEXPRESS
SQL_DRIVER=ODBC Driver 18 for SQL Server
